.container{
    width: 100vw;
    background-color: plum;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
    'logo'
}
.logo{
    //background-color: green;
    display: grid;
    grid-area: logo;
    //align-content: center;
    justify-self: center;
    font-weight: bold;
    font-size: 150%;
}