<div class = "container">
  <div class = "containerLeft">
    <div class = "song1Img">Song1 IMG</div>
    <div class = "song2Img">Song2 IMG</div>
    <div class = "song3Img">Song3 IMG</div>
  </div>
  <div class = "containerRight">
    <div class = "song1Name">Song1 Name</div>
    <div class = "song1Artist">Song1 Artist</div>
    <div class = "song2Name">Song2 Name</div>
    <div class = "song2Artist">Song2 Artist</div>
    <div class = "song3Name">Song3 Name</div>
    <div class = "song3Artist">Song3 Artist</div>
  </div>
</div>


