<div class = "container">

    <div class = "form">
      <div class = "username">Username</div>
      <div class = "password">Password </div>
      <div class = "button">Button</div>
    </div>
    <div class = "connectMedia">
      <div class = "connectFacebook">
        <button class = "connectFacebook"> Facebook</button>
      </div>
      <div class = "connectGoogle">
        <button class = "connectGoogle">Google</button>
      </div>
    </div>
    <label for = "firstname"><input type = "text" id = "firstname" placeholder = "Your first name"/></label>
    
    <label for = "lastname"><input type = "text" id = "lastname" placeholder = "Your last name"/></label>

</div>