.container{
    display: grid;
    width: 200px;
    height: 75px;
    grid-template-rows: auto;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    'containerLeft containerRight';
}

.containerLeft{
    display: grid;
    grid-area: containerLeft;
    background-color: #ff9484;
}

.containerRight{
    grid-area: containerRight;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
    'emotion'
    'pointCount';
    background-color:honeydew;
}

.emotion{
    display: grid;
    grid-area: emotion;
}

.pointCoint{
    display: grid;
    grid-area: pointCount;
}

.circle{
    align-self: center;
    justify-self: center;
    height: 50px;
    width: 50px;
    background-color: bisque;
    border-radius: 50%;
    display: inline-block;
}