<div class = "container">
  <div class = "containerLL">
    <div class = "song1Img">song IMG</div>
    <div class = "song1Name">Song Name</div>
    <div class = "song1Author">Song Author</div>
  </div>
  <div class = "containerL">
    <div class = "song2Img">song IMG</div>
    <div class = "song2Name">Song Name</div>
    <div class = "song2Author">Song Author</div>
  </div>
  <div class = "containerR">
    <div class = "song3Img">song IMG</div>
    <div class = "song3Name">Song Name</div>
    <div class = "song3Author">Song Author</div>
  </div>
  <div class = "containerRR">
    <div class = "song4Img">song IMG</div>
    <div class = "song4Name">Song Name</div>
    <div class = "song4Author">Song Author</div>
  </div>
</div>

