<!-- <div class = "container">
  <div class = "logo">
    <p>#1 Ambii Logo </p>
  </div>
  <div class = "userName">
    <p>User name </p>
    <p>Log off</p>
  </div>
</div> -->

<div class="container"> <!-- parent grid -->
  <div class="containerLeft"> <!-- left grid -->
    Logo goes here
  </div>

  <div class="containerRight"> <!-- right grid -->
    <div class= "blankSpace"></div>
    <div class="infoHolder"> <!-- content grid -->
      <div class="username"> UserName</div>
      <div class="logout"> LogOut</div>
      <div class="picture"> 
        <div class ="circle" >Picture holder</div>
      </div>
    </div>
  </div>
</div>